{% extends 'layout.html' %}

{% block content %}

<a href="/create" class="btn btn-success">CREATE</a></br></br>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>EDU NAME</th>
        <th>EDU UNI</th>
          <th>EMP NAME</th>
          <th>ACTION</th>
      </tr>
    </thead>
    <tbody>

     {% for row in data %}

     <tr>

         <td>{{ row.id }}</td>
         <td>{{ row.edu_name }}</td>
         <td> {{ row.edu_uni }}</td>
         <td>{{ row.employee.emp_address }}</td>

         <td>
            <span>

                <a class="btn btn-info btn-xs" href="/view?id={{ row.id }}">VIEW</a>
                <a class="btn btn-primary btn-xs" href="/update?email={{ row.emp_email }}">UPDATE</a>
                <a class="btn btn-warning btn-xs" onclick="return deleteRow()" href="/delete?id={{row.id}}">DELETE</a>

            </span>
         </td>
     </tr>

     {% endfor %}
    </tbody>
  </table>

<script>


    function deleteRow(){

        if(confirm("Are you sure to delete this item?")){

            return true;

        }
        else {
            return false;
        }

    }

</script>

{% endblock %}
